# ── 베네픽 프로젝트 ──
venv/
.env
chroma_db/
rag/data/
notepad .env.txt

# ── 빌드/캐시 ──
__pycache__/
*.py[codz]
*.pyc
*.npy
*.xlsx

# ── 패키징 ──
build/
dist/
*.egg-info/
.eggs/

# ── 환경 ──
.venv
env/
ENV/

# ── 기타 ──
.mypy_cache/
.pytest_cache/
.ruff_cache/